<a href="https://colab.research.google.com/github/Jatansahu/GOLDDIGGER_GROUP12_PROJECT_01/blob/BHARGAV_202101201/Education_modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# import polars as p
import numpy as np
import warnings
warnings.filterwarnings(action = "ignore")


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/Jatansahu/GOLDDIGGER_GROUP12_PROJECT_01/main/dataset.csv")

In [ ]:
data.shape

(53392, 33)

In [ ]:
data

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53387,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Asian,RACE,RACEASN
53388,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Hawaiian/Pacific Islander,RACE,RACEHPI
53389,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA
53390,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
53391,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Other,RACE,RACEOTH

In [ ]:
col = data.columns
col

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

## SELECTING FEATURES WHICH WILL HELP US TO CLASSIFY DIFFERENT STRATIFICATION CATEGORY.

### Most of the predictive values are correlated to each other so we dropped those columns which have less important(Refer EDA file).

In [ ]:
df = data[['YearEnd','LocationAbbr','Sample_Size','Age(years)','Education','Gender','Income','Race/Ethnicity','ClassID','QuestionID','StratificationCategory1','Stratification1','StratificationCategoryId1','StratificationID1','Total','Data_Value']]

In [ ]:
df

,YearEnd,LocationAbbr,Sample_Size,Age(years),Education,Gender,Income,Race/Ethnicity,ClassID,QuestionID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1,Total,Data_Value
0,2011,AL,7304.0,NaN,NaN,NaN,NaN,NaN,OWS,Q036,Total,Total,OVR,OVERALL,Total,32.0
1,2011,AL,2581.0,NaN,NaN,Male,NaN,NaN,OWS,Q036,Gender,Male,GEN,MALE,NaN,32.3
2,2011,AL,4723.0,NaN,NaN,Female,NaN,NaN,OWS,Q036,Gender,Female,GEN,FEMALE,NaN,31.8
3,2011,AL,1153.0,NaN,Less than high school,NaN,NaN,NaN,OWS,Q036,Education,Less than high school,EDU,EDUHS,NaN,33.6
4,2011,AL,2402.0,NaN,High school graduate,NaN,NaN,NaN,OWS,Q036,Education,High school graduate,EDU,EDUHSGRAD,NaN,32.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53387,2016,VI,NaN,NaN,NaN,NaN,NaN,Asian,PA,Q047,Race/Ethnicity,Asian,RACE,RACEASN,NaN,NaN
53388,2016,VI,NaN,NaN,NaN,NaN,NaN,Hawaiian/Pacific Islander,PA,Q047,Race/Ethnicity,Hawaiian/Pacific Islander,RACE,RACEHPI,NaN,NaN
53389,2016,VI,NaN,NaN,NaN,NaN,NaN,American Indian/Alaska Native,PA,Q047,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA,NaN,NaN
53390,2016,VI,NaN,NaN,NaN,NaN,NaN,2 or more races,PA,Q047,Race/Ethnicity,2 or more races,RACE,RACE2PLUS,NaN,NaN
53391,2016,VI,NaN,NaN,NaN,NaN,NaN,Other,PA,Q047,Race/Ethnicity,Other,RACE,RACEOTH,NaN,NaN

In [ ]:
df.columns = df.columns.str.lower()
df.head()

,yearend,locationabbr,sample_size,age(years),education,gender,income,race/ethnicity,classid,questionid,stratificationcategory1,stratification1,stratificationcategoryid1,stratificationid1,total,data_value
0,2011,AL,7304.0,NaN,NaN,NaN,NaN,NaN,OWS,Q036,Total,Total,OVR,OVERALL,Total,32.0
1,2011,AL,2581.0,NaN,NaN,Male,NaN,NaN,OWS,Q036,Gender,Male,GEN,MALE,NaN,32.3
2,2011,AL,4723.0,NaN,NaN,Female,NaN,NaN,OWS,Q036,Gender,Female,GEN,FEMALE,NaN,31.8
3,2011,AL,1153.0,NaN,Less than high school,NaN,NaN,NaN,OWS,Q036,Education,Less than high school,EDU,EDUHS,NaN,33.6
4,2011,AL,2402.0,NaN,High school graduate,NaN,NaN,NaN,OWS,Q036,Education,High school graduate,EDU,EDUHSGRAD,NaN,32.8

In [ ]:
distinct_values = df['stratificationcategoryid1'].unique()
distinct_values

array(['OVR', 'GEN', 'EDU', 'AGEYR', 'INC', 'RACE'], dtype=object)

In [ ]:
total = df[df['stratificationcategoryid1'] == 'OVR'] # total
gen = df[df['stratificationcategoryid1'] == 'GEN'] #gender
edu  = df[df['stratificationcategoryid1'] == 'EDU'] #Education
age = df[df['stratificationcategoryid1'] == 'AGEYR'] #Age Range of sample
inc  = df[df['stratificationcategoryid1'] == 'INC'] #income range
race = df[df['stratificationcategoryid1'] == 'RACE'] # race

##Size of all category data

In [ ]:
print(f'Shape of category Race/ethinicity is {race.shape}')
print(f'Shape of category Income range is {inc.shape}')
print(f'Shape of category Age range of sample is {age.shape}')
print(f'Shape of category Education is {edu.shape}')
print(f'Shape of category Gender is {gen.shape}')
print(f'Shape of category total is {total.shape}')

Shape of category Race/ethinicity is (15256, 16)
Shape of category Income range is (13349, 16)
Shape of category Age range of sample is (11438, 16)
Shape of category Education is (7628, 16)
Shape of category Gender is (3814, 16)
Shape of category total is (1907, 16)

##Missing values (Categories wise)

##1.Race

In [ ]:
race.isnull().sum()

yearend                          0
locationabbr                     0
sample_size                   5046
age(years)                   15256
education                    15256
gender                       15256
income                       15256
race/ethnicity                   0
classid                          0
questionid                       0
stratificationcategory1          0
stratification1                  0
stratificationcategoryid1        0
stratificationid1                0
total                        15256
data_value                    5046
dtype: int64

  ### For race sample_size and data_value is also null so we will remove those values also

In [ ]:
race= race.dropna(subset=['data_value'])

In [ ]:
race.isnull().sum()

yearend                          0
locationabbr                     0
sample_size                      0
age(years)                   10210
education                    10210
gender                       10210
income                       10210
race/ethnicity                   0
classid                          0
questionid                       0
stratificationcategory1          0
stratification1                  0
stratificationcategoryid1        0
stratificationid1                0
total                        10210
data_value                       0
dtype: int64

##2. income

In [ ]:
inc.isnull().sum()

yearend                          0
locationabbr                     0
sample_size                      0
age(years)                   13349
education                    13349
gender                       13349
income                           0
race/ethnicity               13349
classid                          0
questionid                       0
stratificationcategory1          0
stratification1                  0
stratificationcategoryid1        0
stratificationid1                0
total                        13349
data_value                       0
dtype: int64

##3. Age

In [ ]:
age.isnull().sum()

yearend                          0
locationabbr                     0
sample_size                      0
age(years)                       0
education                    11438
gender                       11438
income                       11438
race/ethnicity               11438
classid                          0
questionid                       0
stratificationcategory1          0
stratification1                  0
stratificationcategoryid1        0
stratificationid1                0
total                        11438
data_value                       0
dtype: int64

##4.Education

In [ ]:
edu.isnull().sum()

yearend                         0
locationabbr                    0
sample_size                     0
age(years)                   7628
education                       0
gender                       7628
income                       7628
race/ethnicity               7628
classid                         0
questionid                      0
stratificationcategory1         0
stratification1                 0
stratificationcategoryid1       0
stratificationid1               0
total                        7628
data_value                      0
dtype: int64

## 5. Gender

In [ ]:
gen.isnull().sum()

yearend                         0
locationabbr                    0
sample_size                     0
age(years)                   3814
education                    3814
gender                          0
income                       3814
race/ethnicity               3814
classid                         0
questionid                      0
stratificationcategory1         0
stratification1                 0
stratificationcategoryid1       0
stratificationid1               0
total                        3814
data_value                      0
dtype: int64

#6. Total

In [ ]:
total.isnull().sum()

yearend                         0
locationabbr                    0
sample_size                     0
age(years)                   1907
education                    1907
gender                       1907
income                       1907
race/ethnicity               1907
classid                         0
questionid                      0
stratificationcategory1         0
stratification1                 0
stratificationcategoryid1       0
stratificationid1               0
total                           0
data_value                      0
dtype: int64

##OBESERVATION:

## From the above null values we know that for each category other cateregeries values(column) are null so we will remove those feature for particular dataframe

###Eg. for race total category other categories(age, education, gender, income, race) are null.

## Dropping Missing values
###(According to above observation)

In [ ]:
columns_to_drop = ['income','age(years)','gender','education','total']
race.drop(columns=columns_to_drop, inplace=True)
columns_to_drop = ['race/ethnicity','age(years)','gender','education','total']
inc.drop(columns=columns_to_drop, inplace=True)
columns_to_drop = ['race/ethnicity','income','gender','education','total']
age.drop(columns=columns_to_drop, inplace=True)
columns_to_drop = ['race/ethnicity','income','age(years)','gender','total']
edu.drop(columns=columns_to_drop, inplace=True)
columns_to_drop = ['race/ethnicity','income','age(years)','education','total']
gen.drop(columns=columns_to_drop, inplace=True)
columns_to_drop = ['race/ethnicity','income','age(years)','gender','education']
total.drop(columns=columns_to_drop, inplace=True)

In [ ]:
dataframes = [race,inc,age,edu,gen,total]

In [ ]:
for i, df in enumerate(dataframes, start=1):
    null_count = df.isnull().sum().sum()
    print(f"Null values in df{i}: {null_count}")

Null values in df1: 0
Null values in df2: 0
Null values in df3: 0
Null values in df4: 0
Null values in df5: 0
Null values in df6: 0

## Now we don't have any null values in our datasets

# Saving each category dataframes into csv file for further process.

In [ ]:
dataframes = [race, inc, age, edu, gen, total]
categories = ['race', 'income', 'age', 'education', 'gender', 'total']

In [ ]:
for i, df in enumerate(dataframes):
    filename = f'{categories[i]}.csv'
    df.to_csv(filename, index=False)

#1. Education_Modeling

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split,GridSearchCV
import warnings
warnings.filterwarnings(action = 'ignore')
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.linear_model import Lasso,LinearRegression,ElasticNet,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.model_selection import train_test_split,GridSearchCV,cross_val_score,cross_val_predict
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
import xgboost
# import optuna

In [ ]:
edu

,yearend,locationabbr,sample_size,education,classid,questionid,stratificationcategory1,stratification1,stratificationcategoryid1,stratificationid1,data_value
3,2011,AL,1153.0,Less than high school,OWS,Q036,Education,Less than high school,EDU,EDUHS,33.6
4,2011,AL,2402.0,High school graduate,OWS,Q036,Education,High school graduate,EDU,EDUHSGRAD,32.8
5,2011,AL,1925.0,Some college or technical school,OWS,Q036,Education,Some college or technical school,EDU,EDUCOTEC,33.8
6,2011,AL,1812.0,College graduate,OWS,Q036,Education,College graduate,EDU,EDUCOGRAD,26.4
31,2011,AL,1153.0,Less than high school,OWS,Q037,Education,Less than high school,EDU,EDUHS,33.2
...,...,...,...,...,...,...,...,...,...,...,...
53343,2016,PR,1735.0,College graduate,PA,Q047,Education,College graduate,EDU,EDUCOGRAD,33.9
53367,2016,VI,238.0,Less than high school,PA,Q047,Education,Less than high school,EDU,EDUHS,29.2
53368,2016,VI,394.0,High school graduate,PA,Q047,Education,High school graduate,EDU,EDUHSGRAD,26.9
53369,2016,VI,230.0,Some college or technical school,PA,Q047,Education,Some college or technical school,EDU,EDUCOTEC,31.2
53370,2016,VI,378.0,College graduate,PA,Q047,Education,College graduate,EDU,EDUCOGRAD,16.4

##1.1 Looking for Null values

In [ ]:
print(edu.isnull().sum())

yearend                      0
locationabbr                 0
sample_size                  0
education                    0
classid                      0
questionid                   0
stratificationcategory1      0
stratification1              0
stratificationcategoryid1    0
stratificationid1            0
data_value                   0
dtype: int64

##1.2 Removing Unnecessary columns

In [ ]:
columns_to_drop = ['education', 'stratificationcategory1','stratification1','stratificationcategoryid1']
edu = edu.drop(columns=columns_to_drop)

In [ ]:
#creating function to remove outliers by using interquartile function
def remove_outliers(df):
    for col in df.select_dtypes(include=np.number).columns:
        q1 = df[col].quantile(0.25)
        q3 = df[col].quantile(0.75)
        iqr = q3 - q1
        lower_bound = q1 - (1.5 * iqr)
        upper_bound = q3 + (1.5 * iqr)
        df.drop(df[(df[col] < lower_bound) | (df[col] > upper_bound)].index, inplace=True)

In [ ]:
remove_outliers(edu)

In [ ]:
edu.shape

(7008, 7)

###Reason

1.Education, stratificationcategory1, stratificationcategoryid1--> all the data is for income so we removed.

2.stratification1 ---> It is a income range and we already have stratificationid1 as abbrevation for this.

##1.3 Converting Categorical Variables into their corresponding form

In [ ]:
print(edu.dtypes)

yearend                int64
locationabbr          object
sample_size          float64
classid               object
questionid            object
stratificationid1     object
data_value           float64
dtype: object

In [ ]:
le = LabelEncoder()
edu['locationabbr_encoded'] = le.fit_transform(edu["locationabbr"])

In [ ]:
columns_to_drop = ['locationabbr']
edu = edu.drop(columns=columns_to_drop)

In [ ]:
# Perform one-hot encoding
edu = pd.get_dummies(edu, columns=['classid'], prefix=['classid'])
edu = pd.get_dummies(edu, columns=['questionid'], prefix=['questionid'])
edu = pd.get_dummies(edu, columns=['stratificationid1'], prefix=['stratificationid1'])
edu = pd.DataFrame(edu)

In [ ]:
edu

,yearend,sample_size,data_value,locationabbr_encoded,classid_FV,classid_OWS,classid_PA,questionid_Q018,questionid_Q019,questionid_Q036,questionid_Q037,questionid_Q043,questionid_Q044,questionid_Q045,questionid_Q046,questionid_Q047,stratificationid1_EDUCOGRAD,stratificationid1_EDUCOTEC,stratificationid1_EDUHS,stratificationid1_EDUHSGRAD
3,2011,1153.0,33.6,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2011,2402.0,32.8,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1
5,2011,1925.0,33.8,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0
6,2011,1812.0,26.4,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0
31,2011,1153.0,33.2,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53343,2016,1735.0,33.9,40,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0
53367,2016,238.0,29.2,48,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0
53368,2016,394.0,26.9,48,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1
53369,2016,230.0,31.2,48,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0
53370,2016,378.0,16.4,48,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0

##1.4 Scaling Features

In the same way as encoding features we can also scale features manually. Scikit learn as inbuilt scalers that do the same task. Here we shall use standard scaler for our task

In [ ]:
sc = StandardScaler()
edu["sample_size_scaled"] = sc.fit_transform(edu["sample_size"].values.reshape(-1,1))
edu["yearend_encoded"] = sc.fit_transform(edu["yearend"].values.reshape(-1,1))
columns_to_drop = ['sample_size','yearend']
edu = edu.drop(columns=columns_to_drop)
edu.head(2)

,data_value,locationabbr_encoded,classid_FV,classid_OWS,classid_PA,questionid_Q018,questionid_Q019,questionid_Q036,questionid_Q037,questionid_Q043,questionid_Q044,questionid_Q045,questionid_Q046,questionid_Q047,stratificationid1_EDUCOGRAD,stratificationid1_EDUCOTEC,stratificationid1_EDUHS,stratificationid1_EDUHSGRAD,sample_size_scaled,yearend_encoded
3,33.6,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,-0.645520,-1.361859
4,32.8,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0.441521,-1.361859

There's an important consideration when it comes to interpretation. If we scale the target variable during preprocessing (for example, using MinMaxScaler to scale it to a specific range), we'll need to remember that any predictions made by the model will be in the scaled range. If we need to interpret the predictions in the original units (e.g., dollars for profit), we'll have to reverse the scaling transformation to get the predictions in the original scale."

In [ ]:
data_value_df = edu[["data_value"]]  # Extracting the "Profit" column as a separate DataFrame
scaler = StandardScaler()
data_value_scaled = scaler.fit_transform(data_value_df.values.reshape(-1,1))
# Converting the scaled profit back to a pandas Series (if needed)
# scaled_profit_series = pd.Series(scaled_profit[:, 0], name="Scaled_Profit")

In [ ]:
# Droping target column from dataset
edu.drop(["data_value"],1,inplace = True)

In [ ]:
edu['scaled_target_value'] = data_value_scaled

##1.5 Gathering some info about data

In [ ]:
edu.describe().T

,count,mean,std,min,25%,50%,75%,max
locationabbr_encoded,7008.0,2.629866e+01,15.560623,0.000000,13.000000,26.000000,39.000000,53.000000
classid_FV,7008.0,1.680936e-01,0.373976,0.000000,0.000000,0.000000,0.000000,1.000000
classid_OWS,7008.0,3.436073e-01,0.474946,0.000000,0.000000,0.000000,1.000000,1.000000
classid_PA,7008.0,4.882991e-01,0.499899,0.000000,0.000000,0.000000,1.000000,1.000000
questionid_Q018,7008.0,8.276256e-02,0.275543,0.000000,0.000000,0.000000,0.000000,1.000000
questionid_Q019,7008.0,8.533105e-02,0.279394,0.000000,0.000000,0.000000,0.000000,1.000000
questionid_Q036,7008.0,1.718037e-01,0.377237,0.000000,0.000000,0.000000,0.000000,1.000000
questionid_Q037,7008.0,1.718037e-01,0.377237,0.000000,0.000000,0.000000,0.000000,1.000000
questionid_Q043,7008.0,6.278539e-02,0.242594,0.000000,0.000000,0.000000,0.000000,1.000000
questionid_Q044,7008.0,8.476027e-02,0.278545,0.000000,0.000000,0.000000,0.000000,1.000000
questionid_Q045,7008.0,8.533105e-02,0.279394,0.000000,0.000000,0.000000,0.000000,1.000000
questionid_Q046,7008.0,8.476027e-02,0.278545,0.000000,0.000000,0.000000,0.000000,1.000000
questionid_Q047,7008.0,1.706621e-01,0.376240,0.000000,0.000000,0.000000,0.000000,1.000000
stratificationid1_EDUCOGRAD,7008.0,2.255993e-01,0.418006,0.000000,0.000000,0.000000,0.000000,1.000000
stratificationid1_EDUCOTEC,7008.0,2.527112e-01,0.434598,0.000000,0.000000,0.000000,1.000000,1.000000
stratificationid1_EDUHS,7008.0,2.639840e-01,0.440822,0.000000,0.000000,0.000000,1.000000,1.000000
stratificationid1_EDUHSGRAD,7008.0,2.577055e-01,0.437402,0.000000,0.000000,0.000000,1.000000,1.000000
sample_size_scaled,7008.0,-9.327901e-17,1.000071,-1.550662,-0.757140,-0.137248,0.572940,3.057730
yearend_encoded,7008.0,5.217136e-14,1.000071,-1.361859,-0.770502,-0.179145,1.003569,1.594925
scaled_target_value,7008.0,2.463783e-16,1.000071,-2.614144,-0.674249,0.112195,0.615520,2.607844

In [ ]:
edu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7008 entries, 3 to 53370
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   locationabbr_encoded         7008 non-null   int64
 1   classid_FV                   7008 non-null   uint8
 2   classid_OWS                  7008 non-null   uint8
 3   classid_PA                   7008 non-null   uint8
 4   questionid_Q018              7008 non-null   uint8
 5   questionid_Q019              7008 non-null   uint8
 6   questionid_Q036              7008 non-null   uint8
 7   questionid_Q037              7008 non-null   uint8
 8   questionid_Q043              7008 non-null   uint8
 9   questionid_Q044              7008 non-null   uint8
 10  questionid_Q045              7008 non-null   uint8
 11  questionid_Q046              7008 non-null   uint8
 12  questionid_Q047              7008 non-null   uint8
 13  stratificationid1_EDUCOGRAD  7008 non-null   uint8
 14  stratificationid1_EDUCOTEC   7008 non-null   uint8
 15  stratificationid1_EDUHS      7008 non-null   uint8
 16  stratificationid1_EDUHSGRAD  7008 non-null   uint8
 17  sample_size_scaled           7008 non-null   float64
 18  yearend_encoded              7008 non-null   float64
 19  scaled_target_value          7008 non-null   float64
dtypes: float64(3), int64(1), uint8(16)
memory usage: 383.2 KB